
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.section{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #b3ccff 0%, #ff99cc 100%);
}
.container{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;

}
.content-section{
  float: left;
  width: 55%;
}
.image-section{
  float: right;
  width: 40%;
}
.image-section img{
  width: 100%;
  height: auto;
}
.content-section .title{
  text-transform: uppercase;
  font-size: 28px;
}
.content-section .content h3{
  margin-top: 20px;
  color: #4d004d;
  font-size: 22px;

}

.content-section .content p{
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}
.content-section .content .button{
  margin-top: 30px;

}

.content-section .content .button a{
  background-color: rgba(10,150, 5, 0.7);
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
  border-radius: 10px;
}
.content-section .content .button a:hover{
    background-color: rgba(20,150, 40, 0.8);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24) ,0 17px 50px 0 rgba(0,0,0,0.19);

}
.content-section .social{
  margin-top: 30px;
}
.content-section .social i{
  color: rgba(238,19, 23, 0.8);
  font-size: 30px;
  padding: 10px 15px;

}
#first{
  color: blue;
}

.content-section .social i:hover{
  box-shadow: 0 16px 19px 0 rgba(0, 0, 0, 0.24) ,0 24px 50px 0 rgba(0,0,0,0.19);

}

/* 768 */
@media screen and (max-width:1160px)
{
  .container{
    width:80%;
    display: block;
    margin: auto;
    padding-top: 40px;
  }

  .content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
   .image-section{
     float: none;
     width: 100%;

   }
   .image-section img{
     width: 100%;
     height: auto;
     display: bock;
     margin: auto;
   }
   .content-section .title{
     text-align: center;
     font-size: 19px;
   }
   .content-section .content .button{
     text-align: center;
   }
   .content-section .content .button a{
     padding: 9px 30px;
   }
   .content-section .social{
     text-align: center;
   }
   .content-section .content h3{
     margin-top: 22px;
     color: #4d004d;
     font-size: 17px;

   }

   .content-section .content p{
     margin-top: 10px;
     font-family: sans-serif;
     font-size: 17px;
     line-height: 1.5;
     text-align: justify;
   }
}
